body {
    font-family: Helvetica, sans-serif;;
    color: #ddd;
    background: #333;
    margin-left: 48px;
    margin-bottom: 3em;
}

a:link {
    color: yellow;
}
a:visited {
    color: orange;
}
a:focus {
}
a:hover {
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(transparent), to(#ff6921));
}

/* clearfix */
  .screenshots:after
{
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}

h2 {
    font-weight: bold;
    margin-left: -24px;
}

h1 {
    font-size: 300%;
    text-shadow: -1px -1px 1px #000;
    text-align: center;
    letter-spacing: .2em;

    padding: .3em;
    margin-left: -32px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: rgb(112,112,112) 1px solid;
    border-top-color: rgb(0,0,0);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.57, rgb(0,0,0)),
        color-stop(0.83, rgb(77,76,77)),
        color-stop(1, rgb(112,112,112))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 57%,
        rgb(77,76,77) 83%,
        rgb(112,112,112) 100%
    );
}

h2, h3, h4 {
    margin-top: 2em;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 1px 0 #999;
    -moz-box-shadow: 0 1px 0 #999;
    box-shadow: 0 1px 0 #999;
}

dl {
    margin: 0 0 0 1.3em;
}

dt {
    font-weight: bold;
    margin-top: .5em;
}

.screenshots {
    width: 80%;
}

.screenshots p {
    margin: 0 1em 2em 0;
    float: left;
}

.screenshots p img {
    border: #000 1px solid;
}

pre {
    background-color: #666;
    padding: .8em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

